In [1]:
import pandas_datareader.data as web

In [2]:
?web.DataReader

In [3]:
import datetime
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2013, 1, 27)

In [4]:
f = web.DataReader("AMER.L", 'yahoo', start, end)

In [5]:
f.head()

            Open    High     Low  Close   Volume  Adj Close
Date
2010-01-04  15.0  15.750  14.750  15.50  4495400      15.50
2010-01-05  15.0  15.500  13.713  15.00  5749300      15.00
2010-01-06  15.0  16.750  14.750  16.50  6052800      16.50
2010-01-07  16.0  16.675  15.625  16.00  1649600      16.00
2010-01-08  15.5  16.475  15.196  15.75  2720600      15.75

In [6]:
len(f)

792